﻿.rich-text-rendering.rendering {
    position: relative;
    /*
    &.content-left .row {
        justify-content: flex-start !important;
    }

    &.content-center .row {
        justify-content: center !important;
    }

    &.content-right .row {
        justify-content: flex-end !important;
    }*/
    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.text-center {
        text-align: center;
    }

    &.content-left, &.content-right {
        .content-styling:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &.content-center .container-constraint {
        margin-left: auto;
        margin-right: auto;
    }

    &.content-left .container-constraint {
        float: left;
        margin-left: 25px;
    }

    &.content-right .container-constraint {
        float: right;
        margin-right: 25px;
    }

    $mobile-break-point: 768px;

    &.content-width-small, &.content-width-medium, &.content-width-large {
        @media screen and (max-width: #{$mobile-break-point}) {
            .container-constraint {
                width: 100%;
            }
        }
    }

    .container-constraint {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
    }

    &.content-width-small .container-constraint {
        width: 40%;
    }

    &.content-width-medium .container-constraint {
        width: 60%;
    }

    &.content-width-large .container-constraint {
        width: 80%;
    }

    .content-wrap {
        padding: $medium-padding;

        .heading {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .subheading {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .body {
            margin-top: 25px;
        }
    }

    .background-image {
        background-position: center center;
        background-size: cover;
    }

    .call-to-actions {
        margin-top: 15px;
    }

    .button {
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .button a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;

        &:hover, &:focus {
        }
    }

    .button.treatment-a a {
        &:hover, &:focus {
        }
    }

    .button.treatment-b a {
        &:hover, &:focus {
        }
    }

    .call-to-actions {
        padding-bottom: 10px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .img-edit-container {
        z-index: 999;
        width: 75px;
        max-width: 75px;
        height: 75px;
        max-height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
        }
    }
}
