// Dark Purple
$primary-color: #252749;
// Bright Light Blue
$secondary-color: #2E9CCA;
// Muddy Blue
$tertiary-color: #29648A;
// Grey Purple
$quaternary-color: rgb(235, 231, 235);
// Muddy Purple
$quinary-color: #464866;

$black-color: rgb(32,32,32);
$white-color: rgb(255,255,255);

// Modifier: Color Deviation for Darkening/Lightening 
$small-deviation: 15%;
$large-deviation: 30%;

// Modifier: Opacity
$opacity-opaque: .85;
$opacity-translucent: .15;

// <Background-Color-Deviations>

@mixin create-bg-color-deviations($name, $color) {
    $deviationNames: (("-lighter", lighten($color, $large-deviation)), 
        ("-light", lighten($color, $small-deviation)), 
        ("", $color), 
        ("-dark", darken($color, $small-deviation)), 
        ("darker", darken($color, $large-deviation)));

    $baseColor: lighten($color, $large-deviation);

    @each $deviation in $deviationNames {
        .bg-c-#{$name}#{nth($deviation,1)} {
            background-color: nth($deviation, 2);
        }

        .bg-c-#{$name}#{nth($deviation,1)}-overlay {
            background-color: rgba(nth($deviation, 2), $opacity-opaque);
        }

        .c-#{$name}#{nth($deviation,1)} {
            color: nth($deviation, 2);
        }
    }
}

@include create-bg-color-deviations("primary", $primary-color);
@include create-bg-color-deviations("secondary", $secondary-color);
@include create-bg-color-deviations("tertiary", $tertiary-color);
@include create-bg-color-deviations("quaternary", $quaternary-color);
@include create-bg-color-deviations("quinary", $quinary-color);

// </Background-Color-Deviations>

// <Background-Color-Sets>

@mixin create-bg-color-set($name, $overlay-color, $element-bg-color, $element-content-color, $element-bg-color-alt, $element-content-color-alt, $highlight-color) {
    .bg-#{$name}, .color-overlay .bg-#{$name} {
        .color-overlay {
            background-color: $overlay-color;
        }

        .button {
            color: $element-content-color;

            &.treatment-a {
                background-color: $element-bg-color;

                a {
                    color: $element-content-color;
                }
            }

            &.treatment-b {
                background-color: $element-bg-color-alt;

                a {
                    color: $element-content-color-alt;
                }
            }
        }

        hr {
            color: $highlight-color;
        }
    }
}

// Dark Purple : $primary-color
// Bright Light Blue : $secondary-color
// Muddy Blue : $tertiary-color
// Grey : $quaternary-color
// Muddy Purple : $quinary-color

// @mixin create-bg-color-set($name, 
// $overlay-color, 
// $element-bg-color, $element-content-color, 
// $element-bg-color-alt, $element-content-color-alt, 
// $highlight-color
// )

// WHITE TREATMENT
@include create-bg-color-set("primary", $white-color, $secondary-color, $white-color, $tertiary-color, $white-color, $quaternary-color);
// WHITE TRANS TREATMENT
@include create-bg-color-set("primary-transparent", rgba($white-color, $opacity-opaque), $secondary-color, $white-color, $tertiary-color, $white-color, $quaternary-color);

// BLUE TREATMENT
@include create-bg-color-set("secondary", $secondary-color, $white-color, $secondary-color, $white-color, $quaternary-color, $quinary-color);
// BLUE TRANS TREATMENT
@include create-bg-color-set("secondary-transparent", rgba($secondary-color, $opacity-opaque), $white-color, $secondary-color, $white-color, $quaternary-color, $quinary-color);

// DARK PURPLE TREATMENT
@include create-bg-color-set("tertiary", $primary-color, $secondary-color, $white-color, $white-color, $secondary-color, $quinary-color);
// DARK PURPLE TRANS TREATMENT
@include create-bg-color-set("tertiary-transparent", rgba($primary-color, $opacity-opaque), $secondary-color, $white-color, $white-color, $secondary-color, $quinary-color);

// LIGHT GREY TREATMENT
@include create-bg-color-set("quaternary", $quaternary-color, $primary-color, $white-color, $quinary-color, $white-color, $primary-color);
// LIGHT GREY TREATMENT
@include create-bg-color-set("quaternary-transparent", rgba($quaternary-color,$opacity-opaque), $primary-color, $white-color, $quinary-color, $white-color, $primary-color);

// MUDDY PURPLE TREATMENT
@include create-bg-color-set("quinary", $quinary-color, $secondary-color, $white-color, $primary-color, $white-color, $quinary-color);
// MUDDY PURPLE TRANS TREATMENT
@include create-bg-color-set("quinary-transparent", rgba($quinary-color, $opacity-opaque), $secondary-color, $white-color, $primary-color, $white-color, $quinary-color);





// <Background-Color-Sets>

// <Content-Color-Sets>

@mixin create-content-color-set($name, $heading-color, $content-color, $element-content-color, $element-content-color-alt) {
    .content-#{$name}, [class*=" content-"] .content-#{$name} {
        h1, h2, h3, h4, h5, h6 {
            color: $heading-color;
        }

        p, li {
            color: $content-color;
        }

        .body {
            color: $content-color;
        }
    }
}

@include create-content-color-set("light", $white-color, $white-color, $white-color, $black-color);
@include create-content-color-set("light-dynamic", $white-color, rgba($white-color, $opacity-opaque), rgba($white-color, $opacity-opaque), rgba($black-color, $opacity-opaque));

@include create-content-color-set("dark", $primary-color, $black-color, $black-color, $white-color);
@include create-content-color-set("dark-dynamic", $primary-color, rgba($black-color, $opacity-opaque), rgba($black-color,$opacity-opaque), rgba($white-color,$opacity-opaque));

// </Content-Color-Sets>