// Lato Font
@import url('https://fonts.googleapis.com/css?family=K2D|Roboto');

// Font Family Variables
$k2d-font-family: 'K2D', sans-serif;
$roboto-font-family: 'Roboto', sans-serif; 

$primary-font: $k2d-font-family;
$secondary-font: $roboto-font-family;


// Official font classes
.primary-font { font-family: $primary-font !important; }
.secondary-font { font-family: $secondary-font !important; }


// Font Size Variables
$fs-extra-small: 10px;
$fs-small:       16px;
$fs-regular:     18px;
$fs-large:       24px;
$fs-extra-large: 32px;
$fs-mega:        50px;


// Font Size Classes
.fs-extra-small { font-size: $fs-extra-small !important; }
.fs-small       { font-size: $fs-small !important; }
.fs-regular     { font-size: $fs-regular !important; }
.fs-large       { font-size: $fs-large !important; }
.fs-extra-large { font-size: $fs-extra-large !important; }
.fs-mega        { font-size: $fs-mega !important; }

// General Font Element Standardizations
header, nav {
    font-family: $primary-font;    
}
footer {
    font-family: $secondary-font;
}
.main-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: $primary-font;
    }
 
    h1 {
        font-size: $fs-large;

        @include media-breakpoint-up($mobile-breakpoint) {
            font-size: $fs-extra-large;
        }
    }

    h2 {
        font-size: $fs-large;

        @include media-breakpoint-up($mobile-breakpoint) {
            font-size: $fs-extra-large;
        }
    }

    h3 {
        font-size: $fs-regular;

        @include media-breakpoint-up($mobile-breakpoint) {
            font-size: $fs-large;
        }
    }

    h4 {
        font-size: $fs-regular;

        @include media-breakpoint-up($mobile-breakpoint) {
            font-size: $fs-large;
        }
    }

    div, p, input, textarea {
        font-family: $secondary-font;
        font-size: $fs-small;

        @include media-breakpoint-up($mobile-breakpoint) {
            font-size: $fs-regular;
        }
    }

    a {
        font-family: $secondary-font;
        font-size: $fs-small;

        @include media-breakpoint-up($mobile-breakpoint) {
            font-size: $fs-regular;
        }
    }

    .btn, a.btn, span.btn, div.btn, .button a {
        font-family: $primary-font;
        font-size: $fs-regular;
    }
}
