// Padding Variables
$no-padding:          0 0;
$extra-small-padding: 20px 0;
$small-padding:       30px 0;
$medium-padding:      60px 0;
$large-padding:       120px 0;
$extra-large-padding: 150px 0;

// Padding Classes
.no-padding          { .content-styling{padding: $no-padding !important; }}
.extra-small-padding { .content-styling{padding: $extra-small-padding !important; }}
.small-padding       { .content-styling{padding: $small-padding !important; }}
.medium-padding      { .content-styling{padding: $medium-padding !important; }}
.large-padding       { .content-styling{padding: $large-padding !important; }}
.extra-large-padding {
    .content-styling {
        padding: $extra-large-padding !important;
    }
}

// Margin Variables
$no-margin:          0 0;
$extra-small-margin: 20px 0;
$small-margin:       30px 0;
$medium-margin:      50px 0;
$large-margin:       100px 0;
$extra-large-margin: 150px 0;

// Margin Classes
.no-margin          { margin: $no-margin !important; }
.extra-small-margin { margin: $extra-small-margin !important; }
.small-margin       { margin: $small-margin !important; }
.medium-margin      { margin: $medium-margin !important; }
.large-margin       { margin: $large-margin !important; }
.extra-large-margin { margin: $extra-large-margin !important; }

// General Element Spacing Standardizations
.main-content {
    h1 {
        line-height: 1.1;
        margin: $extra-small-margin;

        @include media-breakpoint-up(lg) {
            line-height: 90px;
        }
    }

    h2 { line-height: 1.2; margin: $extra-small-margin; }
    h3 { line-height: 1.2; margin: $extra-small-margin; }
    h4 { line-height: 1.2; margin: $extra-small-margin; }
    
    div, p, input, textarea {
        line-height: 1.2;
    }
}
