﻿.classic-rendering.rendering {
    position: relative;

    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.text-center {
        text-align: center;
    }

    .col {
        flex-basis: 0%;
    }

    $mobile-break-point: 768px;


    &.content-left .row {
        flex-direction: row-reverse;
        justify-content: flex-end;


        @media screen and (max-width: #{$mobile-break-point}) {
            flex-direction: column-reverse;
            margin: auto;
        }
    }

    &.content-right .row {
        flex-direction: row;
        justify-content: flex-start;


        @media screen and (max-width: #{$mobile-break-point}) {
            flex-direction: column;
            margin: auto;
        }
    }


    &.content-width-small, &.content-width-medium, &.content-width-large {
        @media screen and (max-width: #{$mobile-break-point}) {
            .container-constraint {
                width: 100%;
            }
        }
    }

    .container-constraint {
        padding-bottom: 30px;
        padding-top: 30px;
        width: 80%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .featured-image img {
        max-width: 100%;
        height: auto;
    }

    &.content-width-small {
        .featured-image {
            flex: 0 0 60%;
            max-width: 60%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }

        .content-text-style {
            flex: 0 0 40%;
            max-width: 40%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }
    }

    &.content-width-medium {
        .featured-image {
            flex: 0 0 50%;
            max-width: 50%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }

        .content-text-style {
            flex: 0 0 50%;
            max-width: 50%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }
    }

    &.content-width-large {
        .featured-image {
            flex: 0 0 20%;
            max-width: 20%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }

        .content-text-style {
            flex: 0 0 80%;
            max-width: 80%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }
    }

    &.image-top {
        .featured-image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                align-self: flex-start;
            }
        }
    }

    &.image-middle {
        .featured-image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
            }
        }
    }


    &.image-bottom {
        .featured-image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                align-self: flex-end;
            }
        }
    }

    .content-wrap {
        padding: $medium-padding;

        .heading {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .subheading {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .body {
            margin-top: 25px;
        }
    }

    .background-image {
        background-position: center center;
        background-size: cover;
    }

    .button {
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .button a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;

        &:hover, &:focus {
        }
    }

    .button.treatment-a a {
        &:hover, &:focus {
        }
    }

    .button.treatment-b a {
        &:hover, &:focus {
        }
    }

    .call-to-actions {
        margin-top: 15px;
        padding-bottom: 25px;

        @include media-breakpoint-up($mobile-break-point) {
            padding-bottom: 10px;
        }
    }

    .img-edit-container {
        z-index: 999;
        width: 75px;
        max-width: 75px;
        height: 75px;
        max-height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
        }
    }
}
