﻿@using System
@using Sitecore.Mvc
@using Fishtank.Foundation.Helpers
@model FFF.Feature.ThreeBox.Models.ThreeBox

<div class="three-box-rendering rendering @Model.Parameters.TextAlignment @Model.Parameters.ColorTreatmentBackground @Model.Parameters.MainBoxPositionHorizontal @Model.Parameters.Padding">
    
    <div class="background-image" @Html.Raw(Model.HasBackgroundImage ? "style=\"background-image: url('" + Model.BackgroundImageRaw + "');\"" : "")>
        
        <div class="color-overlay content-styling">
            
            <div class="container-constraint">
            
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="box main-box @Model.Parameters.ColorTreatmentMainBox">
                                <div class="color-overlay">
                                    @if (ViewHelper.IsEditMode() || Model.HasFeaturedImage)
                                    {
                                        <div class="featured-image">
                                            @Model.FeaturedImage
                                        </div>
                                    }

                                    <h2 class="heading">@Model.Heading</h2>

                                    <div class="body">@Model.Body</div>

                                    <div class="call-to-actions">

                                        @if (ViewHelper.IsEditMode())
                                        {
                                            <div class="button treatment-a">
                                                @Model.Button1Text
                                                @Model.Button1Link
                                            </div>
                                        }
                                        else
                                        {
                                            if (ViewHelper.ShouldDisplayField(Model.Button1Text))
                                            {
                                                <div class="button treatment-a">
                                                    <a href="@Model.Button1LinkUrl">@Model.Button1Text</a>
                                                </div>
                                            }
                                        }
                                        @if (ViewHelper.IsEditMode())
                                        {
                                            <div class="button treatment-b">
                                                @Model.Button2Text
                                                @Model.Button2Link
                                            </div>
                                        }
                                        else
                                        {
                                            if (ViewHelper.ShouldDisplayField(Model.Button2Text))
                                            {
                                                <div class="button treatment-b">
                                                    <a href="@Model.Button2LinkUrl">@Model.Button2Text</a>
                                                </div>
                                            }
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="box small-box @Model.Parameters.ColorTreatmentTopSmallBox">
                                <div class="color-overlay">
                                    <h2 class="heading">@Model.TopSmallBoxHeading</h2>
                                    <div class="body">@Model.TopSmallBoxBody</div>
                                </div>
                            </div>
                            <div class="box small-box @Model.Parameters.ColorTreatmentBottomSmallBox">
                                <div class="color-overlay">
                                    <h2 class="heading">@Model.BottomSmallBoxHeading</h2>
                                    <div class="body">@Model.BottomSmallBoxBody</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
        </div>

    </div>    
    
    @if (ViewHelper.IsEditMode())
    {
        <div class="img-edit-container">
            @Model.BackgroundImage
        </div>
    }

</div>
