﻿@using Fishtank.Foundation.Helpers
@using FFF.Feature.Navigation
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Data

@{ 
    Layout = null;

    var sitecoreTopBarActiveClass = (Sitecore.Context.PageMode.IsExperienceEditor ||
                                     Sitecore.Context.PageMode.IsExperienceEditorEditing ||
                                     Sitecore.Context.PageMode.IsPreview) ? "sitecore-top-bar-active" : "";
}

<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName" class="@sitecoreTopBarActiveClass website">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content="@Html.Raw(Sitecore.Context.Item["Meta Description"])">
        
        <title>@Html.Raw(Sitecore.Context.Item["Meta Title"])</title>
        
        @Html.Sitecore().VisitorIdentification()

        <link rel="icon" href="/img/favicon.ico" type="image/png"/>
        <link rel="stylesheet" href="~/styles/website.css" type="text/css" />
        @*Html.RenderFormStyles()*@
        
        @Html.Partial("~/Views/Shared/_Scripts.cshtml")
        
        @Html.Partial("~/Views/OpenGraph/_OpenGraph.cshtml")
    </head>
    <body>
    <div class="page">
        <header>
            @* Desktop Nav Rendering ID *@
            @Html.Sitecore().Rendering(Guids.Renderings.DesktopNavigation)

            @* Mobile Nav Rendering ID *@
            @Html.Sitecore().Rendering(Guids.Renderings.MobileNavigation)
        </header>
        
        <div class="main-content">
            @Html.Sitecore().Placeholder("website-main")            
        </div>
                    
        <footer>
            @* Footer Rendering ID *@
            @Html.Sitecore().Rendering(Guids.Renderings.Footer)
        </footer>
    </div>

    </body>
</html>
