﻿@using FFF.Feature.Navigation
@using Sitecore.Mvc
@using Fishtank.Foundation.Helpers

@model Sitecore.Data.Items.Item

<div class="content-page">
    <div class="heading-section has-bg-image" style="background-image: url('@Model.GetImageUrl("Banner Image")')">
        <div class="container">
            <div class="row">
                <div class="heading-content col-12">
                    <h1>@Html.Sitecore().Field("Heading", Model)</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="container">
            @Html.Sitecore().Rendering(Guids.Renderings.Breadcrumb)
            <div class="row">
                <div class="col-12 order-1 col-lg-8 offset-lg-1 order-lg-2 col-xl-8 offset-xl-0">
                    <div class="general-content">
                        @Html.Sitecore().Placeholder("content-page")
                    </div>
                </div>
                <div class="col-12 order-2  col-lg-3 order-lg-1 col-xl-3">
                    @* Side Nav Rendering ID *@
                    @*@Html.Sitecore().Rendering(Guids.Renderings.SideNavigation)*@
                </div>
            </div>
        </div>
    </div>
</div>
