﻿@using Sitecore.Mvc
@using Fishtank.Foundation.Helpers
@model RenderingModel

<div class="landing-page">

    @* Breadcrumb Rendering ID *@
    @*
    @Html.Sitecore().Rendering(FFF.Feature.Navigation.Guids.Renderings.Breadcrumb)
    *@
    
    <div class="content-section">
        @Html.Sitecore().Placeholder("main-components")
    </div>
</div>
