﻿@using System
@using Sitecore.Mvc
@using Fishtank.Foundation.Helpers
@model FFF.Feature.Columns.Models.Columns

<div class="columns-rendering rendering @Model.Parameters.TextAlignment @Model.Parameters.ColorTreatment @Model.Parameters.Padding">
    
    <div class="background-image" @Html.Raw(Model.HasBackgroundImage ? "style=\"background-image: url('" + Model.BackgroundImageRaw + "');\"" : "")>
        
        <div class="color-overlay content-styling">
            
            <div class="container-constraint">
            
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8 columns-content">
                            @if (ViewHelper.IsEditMode() || Model.HasFeaturedImage)
                            {
                                <div class="featured-image">
                                    @Model.FeaturedImage
                                </div>
                            }

                            @if (ViewHelper.ShouldDisplayField(Model.Preheading))
                            {
                                <h3 class="preheading">@Html.Raw(Model.Preheading)</h3>
                            }

                            <h2 class="heading">@Model.Heading</h2>

                            @if (ViewHelper.ShouldDisplayField(Model.Subheading))
                            {
                                <h3 class="preheading">@Html.Raw(Model.Subheading)</h3>
                            }

                            <div class="body">@Model.Body</div>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        @foreach (var columnModel in Model.ColumnItems)
                        {
                            <div class="col">
                                <div class="column">
                                    <div class="color-overlay column-constraint">
                                        <div class="featured-image">
                                            @columnModel.FeaturedImage
                                        </div>

                                        <h2 class="heading">@columnModel.Heading</h2>

                                        <div class="body">@columnModel.Body</div>

                                        <div class="call-to-actions">

                                            @if (ViewHelper.IsEditMode())
                                            {
                                                <div class="button treatment-a">
                                                    @columnModel.ButtonText
                                                    @columnModel.ButtonLink
                                                </div>
                                            }
                                            else
                                            {
                                                if (ViewHelper.ShouldDisplayField(columnModel.ButtonText))
                                                {
                                                    <div class="button treatment-a">
                                                        <a href="@columnModel.ButtonLinkUrl">@columnModel.ButtonText</a>
                                                    </div>
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            
            </div>
        </div>

    </div>    
    
    @if (ViewHelper.IsEditMode())
    {
        <div class="img-edit-container">
            @Model.BackgroundImage
        </div>
    }

</div>
