﻿@using Sitecore.ExperienceForms.Mvc.Html

@* Manual addition of form scripts because @Html.RenderFormScripts() does not work. Must be added before RequireJS calls or errors will be thrown. *@
@*<script src="/sitecore%20modules/Web/ExperienceForms/scripts/jquery-2.1.3.min.js"></script>
<script src="/sitecore%20modules/Web/ExperienceForms/scripts/jquery.validate.min.js"></script>
<script src="/sitecore%20modules/Web/ExperienceForms/scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/sitecore%20modules/Web/ExperienceForms/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="/sitecore%20modules/Web/ExperienceForms/scripts/form.validate.js"></script>
<script src="/sitecore%20modules/Web/ExperienceForms/scripts/form.tracking.js"></script>*@

<script src="~/js/vendor/require.min.js"></script>
<script src="~/js/require-setup.js"></script>
<script src="~/js/website.js"></script>
