﻿@using System
@using Sitecore.Mvc
@using Fishtank.Foundation.Helpers

@model FFF.Feature.Classic.Models.Classic



<div class="classic-rendering rendering @Model.Parameters.TextAlignment @Model.Parameters.ImageAlignment @Model.Parameters.ColorTreatment @Model.Parameters.ContentPosition @Model.Parameters.ContentWidth @Model.Parameters.Padding">

    <div class="background-image" @Html.Raw(Model.HasBackgroundImage ? "style=\"background-image: url('" + Model.BackgroundImageRaw + "');\"" : "")>

        <div class="color-overlay content-styling">

            <div class="container-constraint">

                <div class="container-fluid">
                    <div class="row">
                        @if (Model.HasImage)
                        { 
                            <div class="featured-image col">
                                @Html.Raw(Model.Image)                            
                            </div>
                        }
                        <div class="content-text-style col">

                            @if (ViewHelper.ShouldDisplayField(Model.Preheading))
                            {
                                <h3 class="preheading">@Html.Raw(Model.Preheading)</h3>
                            }

                            <h2 class="heading">@Html.Raw(Model.Heading)</h2>

                            <h3 class="subheading">@Html.Raw(Model.Subheading)</h3>

                            <div class="body">
                                @Html.Raw(Model.Body)
                            </div>

                            <div class="call-to-actions">

                                @if (ViewHelper.IsEditMode())
                                {
                                    <div class="button treatment-a">
                                        @Html.Raw(Model.Button1Text)
                                        @Html.Raw(Model.Button1Link)
                                    </div>
                                }
                                else
                                {
                                    if (ViewHelper.ShouldDisplayField(Model.Button1Text))
                                    {
                                        <div class="button treatment-a">
                                            <a href="@Model.Button1LinkUrl">@Html.Raw(Model.Button1Text)</a>
                                        </div>
                                    }
                                }
                                @if (ViewHelper.IsEditMode())
                                {
                                    <div class="button treatment-b">
                                        @Html.Raw(Model.Button2Text)
                                        @Html.Raw(Model.Button2Link)
                                    </div>
                                }
                                else
                                {
                                    if (ViewHelper.ShouldDisplayField(Model.Button2Text))
                                    {
                                        <div class="button treatment-b">
                                            <a href="@Model.Button2LinkUrl">@Html.Raw(Model.Button2Text)</a>
                                        </div>
                                    }
                                }

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    @if (ViewHelper.IsEditMode())
    {
        <div class="img-edit-container">
            @Html.Raw(Model.BackgroundImage)
        </div>
    }

</div>