.breadcrumb-section {
    background: #F5F3F2;

    ul {
        padding: 10px 0;
    }

    ul li {
        display: inline-block;

        @include media-breakpoint-down(xs) {
            font-size: 13px;
        }

        a {
            color: #7B7B7B;
            padding: 0 5px 0 0;
            margin: 0;
            margin-right: 10px;
            display: block;
            position: relative;
        }

        a:after {
            content: "/";
            position: absolute;
            right: -8px;
            top: 0;
        }

        a.current {
            color: #4865A9;
            //font-family: $roboto;
            font-weight: 700;
        }

        i {
            margin-right: 7px;

            @include media-breakpoint-down (sm) {
                display: none;
            }
        }
    }

    ul li:last-child a:after {
        content: none; // IE 11 friendly
    }

    a, a:hover {
        border-bottom: none;
    }
}
