$nav-bar-height: 60px;

header {

    @include media-breakpoint-up($mobile-breakpoint) {
        div.desktop-header {
            display: block;
        }
    }

    .desktop-header {
        display: none;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        position: fixed;
        height: $nav-bar-height;
        transition: top 0.3s ease, opacity 0.3s ease;


        .primary-menu-links {
            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                border-radius: 3px;
                margin-left: 10px;
                // Replaced by variables
                background-color: #eee;
                color: #333;
            }
        }
    }
}

.nav-hidden .desktop-header {
    top: -$nav-bar-height;
    //transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
