.desktop-footer {
    
    a { border-bottom: none; }
}

/*
@include media-breakpoint-up(lg) {
    text-align: left;
}
*/

/*
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    //display: flex;
    //justify-content: space-between;
*/