.open-menu-button {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 8;
    cursor: pointer;
    height: 44px;
    width: 44px;
    padding-left: 10px;
    //padding-top: 21px;
    transition: left 0.2s;

    @include media-breakpoint-up(lg) {
        top: -50px;
    }

    &:hover .lines {
        &:before {
            top: 8px;
        }

        &:after {
            top: -8px;
        }
    }

    .lines {
        display: inline-block;
        width: 25px;
        height: 3px;
        // background: $white;
        position: relative;

        &:before, &:after {
            display: inline-block;
            width: 25px;
            height: 3px;
           // background: $white;
            transition: top 0.3s ease;
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: 0.1rem center;
            transform-origin: 0.1rem center;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: -6px;
        }
    }
}

.mobile-nav-is-open .mobile-nav {
    transition: left 300ms ease;
    left: 0px;
}

.mobile-nav {
    top: 0;
    left: -300px;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    background: #eee;
    transition: left 300ms ease;
    position: fixed;
    z-index: 9;
    overflow-y: auto;

    a {
        display: inline-block;
        position: relative;
        padding: 5px 0;
        margin: 5px 0;
        
        &.active, &:hover {
        }
    }

    .logo {
        //margin: $medium-margin;
    }

    .logo a {
        padding: 0;
        border: none;
        &:hover {
            border: none;
        }
        &:before {
            content: none;
        }
        &:hover &:before {
            content: none;
        }
    }

    .heading {
        text-align: right;

        .close-button {
            margin-top: 15px;
            margin: 10px 0 0 0;
            padding: 15px 0 0 0;
            display: inline-block;
            cursor: pointer;
            height: 30px;
            width: 30px;

            .lines {
                display: inline-block;
                width: 25px;
                height: 3px;
                background: transparent;
                transition: 0.2s;
                position: relative;

                &:before, &:after {
                    display: inline-block;
                    width: 25px;
                    height: 3px;
                    background: #888;
                    transition: 0.2s;
                    position: absolute;
                    left: 0;
                    content: '';
                    -webkit-transform-origin: 0.1rem center;
                    transform-origin: 4px center;
                }

                &:before {
                    top: 6px;
                    -webkit-transform: rotate3d(0, 0, 1, -45deg);
                    transform: rotate3d(0, 0, 1, -45deg);
                }

                &:after {
                    top: -6px;
                    -webkit-transform: rotate3d(0, 0, 1, 45deg);
                    transform: rotate3d(0, 0, 1, 45deg);
                }
            }
        }
    }
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        //background-color: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        //background-color: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        //background-color: $nutech-nickel;
    }
    /* Click and drag */
    &::-webkit-scrollbar-thumb:active {
        //background-color: $nuplant-green;
    }
}

.underlay {
    opacity: 0;
    background: #DDD;
    position: fixed;
    display: block;
    transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out;
    z-index: 7;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

body.mobile-nav-is-open {
    overflow-y: hidden; // does not work on mobile

    .underlay {
        opacity: 0.9;
        display: block;
        visibility: visible;
        cursor: pointer;
        transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out;
    }
}
