.left-sidebar {
    max-width: 215px;

    ul li {
        a {
            color: $nupower-blue;
            font-size: $fs-regular;
            padding: 15px 0;
            font-weight: $fw-normal;
            display: block;
            border-bottom: 1px solid $lightest-grey;
            margin-top: 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;

            i {
                margin-right: 10px;
                margin-top: 3px;
            }

            &.active { font-weight: $fw-bold; }
        }

        a:hover {
            color: $nuplant-green;
            border-bottom: 1px solid $lightest-grey;
        }
    }

    ul li:last-child a {
        border: 0;
    }

    .sidebar-title {
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            left: 0;
            width: 32px;
            border-bottom: 3px solid $nupower-blue;
            bottom: 0;
        }

        .title {
            color: $nupower-blue;
            border-bottom: 1px solid $lightest-grey;
            padding: $extra-small-padding;
            font-weight: $fw-medium;
            font-size: 32px;
            margin-bottom: 0;
            line-height: 45px;
            margin: 20px 0;
            margin-bottom: 0;
            font-family: $montserrat;
        }
    }
}
