﻿.columns-rendering.rendering {
    position: relative;

    $mobile-break-point: 768px;

    .col { //Bugfix for Chrome
        flex-basis: 0%;

        @media screen and (max-width: #{$mobile-break-point}) {
            -ms-flex: auto; // IE11 Fix
        }
    }

    .row {
        flex-direction: row;
        justify-content: flex-start;

        @media screen and (max-width: #{$mobile-break-point}) {
            flex-direction: column;
        }
    }


    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.text-center {
        text-align: center;
    }

    .container-constraint {
        padding-bottom: 30px;
        padding-top: 30px;
        width: 80%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .body {
        margin-top: 15px;

        p:last-child {
            margin: 0;
        }
    }

    .featured-image {
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .background-image {
        background-position: center center;
        background-size: cover;
    }

    .columns-content {
        margin-bottom: 25px;

        @media screen and (max-width: #{$mobile-break-point}) {
            -ms-flex: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    .column-constraint {
        height: 100%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;

        .featured-image img {
            width: 100%;
        }

        .call-to-actions {
            padding-top: 15px;
        }
    }

    .column {
        height: 100%;
        position: relative;

        h2 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 15px;
        }

        .body {
            margin-top: 15px;
            margin-bottom: 60px;
        }
    }

    .call-to-actions {
        position: absolute;
        bottom: 15px;
        left: 10px;
        right: 10px;
    }

    .button {
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .button a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;

        &:hover, &:focus {
        }
    }

    .button.treatment-a a {
        &:hover, &:focus {
        }
    }

    .button.treatment-b a {
        &:hover, &:focus {
        }
    }

    .img-edit-container {
        z-index: 999;
        width: 75px;
        max-width: 75px;
        height: 75px;
        max-height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
        }
    }
}
