﻿.banner-rendering.rendering {
    position: relative;

    $mobile-break-point: 768px;

    .content-wrap {
        padding: $medium-padding;

        .heading {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .subheading {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .body {
            margin-top: 25px;
        }
    }

    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.text-center {
        text-align: center;
    }

    &.content-left, &.content-right {
        .container-constraint:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &.content-center {
        margin-left: auto;
        margin-right: auto;
    }

    &.content-left {
        .container-fluid {
            float: left;
        }

        @media screen and (max-width: #{$mobile-break-point}) {
            .main-box {
                padding-bottom: 15px;
            }
        }
    }

    &.content-right {
        .container-fluid {
            float: right;
        }

        @media screen and (max-width: #{$mobile-break-point}) {
            .main-box {
                padding-top: 15px;
            }
        }
    }

    &.content-top {
        .content-styling {
            display: flex;
            align-items: center;
            justify-content: center;

            .container-constraint {
                align-self: flex-start;
            }
        }
    }

    &.content-bottom {
        .content-styling {
            display: flex;
            align-items: center;
            justify-content: center;

            .container-constraint {
                align-self: flex-end;
            }
        }
    }

    &.content-middle {
        .content-styling {
            display: flex;
            align-items: center;
            justify-content: center;

            .container-constraint {
            }
        }
    }

    
    .container-fluid {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
    }

    &.content-width-small .container-constraint {
        width: 40%;
    }

    &.content-width-medium .container-constraint {
        width: 60%;
    }

    &.content-width-large .container-constraint {
        width: 80%;
    }

    &.content-width-small, &.content-width-medium, &.content-width-large {
        @media screen and (max-width: #{$mobile-break-point}) {
            .container-constraint {
                width: 100%;
            }
        }
    }

    &.small-banner {
        .content-styling {
            min-height: 400px;
        }
    }

    &.medium-banner {
        .content-styling {
            min-height: 600px;
        }
    }

    &.large-banner {
        .content-styling {
            min-height: 800px;
        }
    }

    .background-image {
        background-position: center center;
        background-size: cover;
    }

    .call-to-actions {
        margin-top: 15px;
    }

    .button {
        border-radius: 10px;
        margin-right: 10px;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }

    .button a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;

        &:hover, &:focus {
        }
    }

    .button.treatment-a a {
        &:hover, &:focus {
        }
    }

    .button.treatment-b a {
        &:hover, &:focus {
        }
    }

    .call-to-actions {
        padding: 10px 0;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .img-edit-container {
        z-index: 999;
        width: 75px;
        max-width: 75px;
        height: 75px;
        max-height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
        }
    }
}
