﻿@using FFF.Feature.Navigation.Models;
@using Fishtank.Foundation.Helpers;
@model Breadcrumb

@if (Model != null && Model.Items.Any())
{
    <div class="breadcrumb-section">
        <div class="container">
            <ul>
                @foreach (NavItem i in Model.Items)
                {
                    <li>
                        <a href="@LinkHelper.GetUrl(i.Item)" class="@(i.IsCurrent? "current":"")">
                            @if (i.Item == Model.Items.First().Item) { <i class="fa fa-home"></i> }
                            @i.Item["Meta Title"]
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
