﻿@using Sitecore.Mvc;
@using FFF.Feature.Navigation.Models;
@using Fishtank.Foundation.Helpers;
@model NavigationCollection

<div class="desktop-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-3">
                
                <div class="logo">
                    <a href="/"><img src="https://via.placeholder.com/140x50/DDDDDD/333333?text=L O G O" alt="Logo Description"></a>
                </div>

            </div>
            <div class="col d-flex align-items-center justify-content-end">
                @if (Model != null && Model.Items != null && Model.Items.Any())
                {
                    <div class="d-flex primary-menu-links">
                        @foreach (var i in Model.Items)
                        {
                            
                                <a href="@i.Item.GetUrlFromLinkField("Link")" class="@(i.IsActive && !Model.IsHomePage ? "active" : "")" target="@i.Item.GetLinkTarget("Link")">@Html.Sitecore().Field("Name", i.Item)</a>
                            
                        }
                    </div>
                }
            </div>
        </div>
    </div>    

    </div>

<div>
    <div class="header-top-section">
@*        
        <div aria-label="Toggle Navigation" class="open-menu-button">
            <span class="lines"></span>
        </div>
*@

    </div>
</div>
