﻿@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc
@using FFF.Feature.Navigation.Models
@using Fishtank.Foundation.Helpers
@model FooterContent

<div class="desktop-foote @Model.ColorTreatment @Model.Padding">
    <div class="color-overlay content-styling">
        <div class="container-constraint">


            <div class="container-fluid">

                <div class="row">

                @if (Model.FooterContentItems != null && Model.FooterContentItems.Any())
                {
                    foreach (var footerContent in Model.FooterContentItems)
                    {
                        <div class="col @footerContent.ExtraClassesRaw">

                            @Html.Raw(@footerContent.Body)

                        </div>
                    }
                }

                </div>

                <div class="row copyright-bar">
                    <div class="col">
                        &copy; @Html.Raw(Model.CopyrightText) @DateTime.Now.Year.ToString()
                    </div>
                </div>

            </div>
        
            </div>
    </div>

</div>


