﻿@using Fishtank.Foundation.Helpers
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc;
@using FFF.Feature.Navigation.Models;
@model NavigationCollection

<div class="mobile-nav container">
    <div class="heading">
        <div class="close-button">
            <span class="lines"></span>
        </div>
    </div>
   
    <div class="menu-body">
        @if (Model != null && Model.Items != null && Model.Items.Any())
        {
            <ul>
                @foreach (var i in Model.Items)
                {
                    <li><a href="@i.Item.GetUrlFromLinkField("Link")" class="@(i.IsActive && !Model.IsHomePage ? "active" : "")" target="@i.Item.GetLinkTarget("Link")">@Html.Sitecore().Field("Name", i.Item)</a></li>

            @*foreach (var i2 in Model.GetRelatedItems(i.Item.ID))
            {
                <div>- @i2.Item.Paths.FullPath / @i2.IsActive / @i2.IsCurrent</div>
            }*@
                }
            </ul>
        }
        <div class="logo"><a href="/"><img src="https://via.placeholder.com/100x50/DDDDDD/333333?text=L O G O" alt="Logo Description"></a></div>
    </div>
</div>

<div class="underlay"></div>

<a href="#" class="open-menu-button">Open Menu Button</a>

<script src="/js/mobile-nav/mobile-nav.js" async="true"></script>