﻿@using Sitecore.Mvc;
@using FFF.Feature.Navigation.Models;
@using Fishtank.Foundation.Helpers;
@model NavigationCollection
@{
    var relatedItems = Model.GetRelatedItems(Sitecore.Context.Item.ParentID);
}

<div class="left-sidebar">
    <div class="sidebar-title title-small-border-blue">
        <div class="title">
            @Html.Sitecore().Field("Meta Title", Model.ParentItem)
        </div>
    </div>
    
    @if (relatedItems != null && relatedItems.Any())
    {
        <ul>
            @foreach (var i in relatedItems)
            {
                @* TODO: Abstract link resolution into Foundation helper *@
                <li>
                    <a href="@LinkHelper.GetUrl(i.Item)" class="@(i.IsActive ? "active":"")">
                        <i class="fa fa-angle-right"></i> 
                        @i.Item["Meta Title"]
                    </a>
                </li>
            }
        </ul>
    }
</div>