﻿.three-box-rendering.rendering {
    position: relative;

    $mobile-break-point: 768px;

    .col {
        flex-basis: 0%;

        @media screen and (max-width: #{$mobile-break-point}) {
            -ms-flex: auto;
        }
    }

    &.content-left .row {
        flex-direction: row;
        justify-content: flex-start;

        @media screen and (max-width: #{$mobile-break-point}) {
            flex-direction: column;
        }
    }

    &.content-right .row {
        flex-direction: row-reverse;
        justify-content: flex-end;

        @media screen and (max-width: #{$mobile-break-point}) {
            flex-direction: column-reverse;
        }
    }

    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.text-center {
        text-align: center;
    }

    $mobile-break-point: 768px;

    .container-constraint {
        padding-bottom: 30px;
        padding-top: 30px;
        width: 80%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .box .color-overlay {
        padding: 10px;
        height: 100%;
    }

    .small-box {
        height: 50%;

        .body {
            margin-bottom: 25px;
        }
    }

    .main-box {
        height: 100%;
    }

    .small-box:last-child {
        padding-top: 15px;
    }

    .body {
        margin-top: 25px;

        p:last-child {
            margin: 0;
        }
    }

    .featured-image {
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .background-image {
        background-position: center center;
        background-size: cover;
    }

    .call-to-actions {
        margin-top: 15px;
    }

    .button {
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .button a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;

        &:hover, &:focus {
        }
    }

    .button.treatment-a a {
        &:hover, &:focus {
        }
    }

    .button.treatment-b a {
        &:hover, &:focus {
        }
    }

    .call-to-actions {
        margin-top: 10px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .img-edit-container {
        z-index: 999;
        width: 75px;
        max-width: 75px;
        height: 75px;
        max-height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
        }
    }
}
