﻿@using System
@using Sitecore.Mvc
@using Fishtank.Foundation.Helpers
@model FFF.Feature.RichText.Models.RichText

<div class="rich-text-rendering rendering @Model.Parameters.TextAlignment @Model.Parameters.ColorTreatment @Model.Parameters.ContentPosition @Model.Parameters.ContentWidth @Model.Parameters.Padding">
    
    <div class="background-image" @Html.Raw(Model.HasBackgroundImage ? "style=\"background-image: url('" + Model.BackgroundImageRaw + "');\"" : "")>
        
        <div class="color-overlay content-styling">
            
            <div class="container-constraint">
            
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            
                            @if (ViewHelper.ShouldDisplayField(Model.Preheading))
                            {
                                <h3 class="preheading">@Model.Preheading</h3>
                            }                            
                            
                            <h2 class="heading">@Model.Heading</h2>
                            
                            <h3 class="subheading">@Model.Subheading</h3>
                            
                            <div class="body">
                                @Model.Body
                            </div>
                            
                            <div class="call-to-actions">
                                
                                @if (ViewHelper.IsEditMode())
                                {
                                    <div class="button treatment-a">
                                        @Model.Button1Text
                                        @Model.Button1Link
                                    </div>
                                }
                                else
                                {
                                    if (ViewHelper.ShouldDisplayField(Model.Button1Text))
                                    {
                                        <div class="button treatment-a">
                                            <a href="@Model.Button1LinkUrl">@Model.Button1Text</a>
                                        </div>
                                    }
                                }
                                @if (ViewHelper.IsEditMode())
                                {
                                    if (ViewHelper.ShouldDisplayField(Model.Button2Text))
                                    {
                                        <div class="button treatment-b">
                                            @Model.Button2Text
                                            @Model.Button2Link
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="button treatment-b">
                                        <a href="@Model.Button2LinkUrl">@Model.Button2Text</a>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>

                </div>
            
            </div>
        </div>

    </div>    
    
    @if (ViewHelper.IsEditMode())
    {
        <div class="img-edit-container">
            @Model.BackgroundImage
        </div>
    }

</div>