﻿@using Sitecore.Mvc
@using System
@using Fishtank.Foundation.Helpers
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Title"))
{
    @* If not specified, defaults to the page title  *@
    <meta property="og:title" content="@Html.Raw(Sitecore.Context.Item["OG Title"])"/> 
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Description"))
{
    @* Used to specify a description of the webpage in 2-4 sentences.
    Facebook does not set a defined character or word limit to the description.
    Facebook will truncate the description when it sees fit. *@
    <meta property="og:description" content="@Html.Raw(Sitecore.Context.Item["OG Description"])" />
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Type"))
{
    @* Valid values: website, article, video, book, music, profile, product, place, video.moviw, books.book *@
    <meta property="og:type" content="@Html.Raw(Sitecore.Context.Item["OG Type"])"/>
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Url"))
{
    @* More than one of this element can exist -- comments and likes will be same for the specified URLs.
    must contains an absolute URL of the web page without query strings or hashes, similar to the canonical link. 
    On the homepage, the URL is the homepage URL *@
    <meta property="og:url" content="@Html.Raw(Sitecore.Context.Item["OG Url"])"/> 
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Image"))
{
    @* Specify the url of the image associated with the webpage. use a image of atleast 1200×630 pixels.  If your image size is larger than 600 x 315 then a larger image will be displayed in Facebook otherwise a smaller image will be displayed. *@
    <meta property="og:image" content="@Html.Raw(Sitecore.Context.Item["OG Image"])"/> 
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Admins"))
{
    @* Its also serves the same purpose as fb:app_id. But the difference when using fb:admins you don’t need
    to have a facebook app, you just need to have a facebook account to track the metrics of an shared URL.
    One more advantage of using this og tag is that multiple facebook users can see the metrics of the same URL.
    Suppose your facebook account id is “557880802” and my account id is “557099992”.
    We both together wrote a post and shared it on facebook. Then we can see the metrics of the post by embedding
    fb:admins og tag into the webpage via content="557880802, 557099992"
    To see the metrics we can go to the same page as we went for fb:app_id. And there enter domain name and instead of 
    selecting a App in the dropdown we select our respective accounts. And click on “Get Insights”. Now we both will
    be able to see the metrics from our respective accounts.*@
    <meta property="og:admins" content="@Html.Raw(Sitecore.Context.Item["OG Admins"])"/> 
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Video"))
{
    @* Used to specify the url of the video associated with the webpage. This video is shown in the preview and can be played. Remember that facebook only play .swf files (need to confirm this). And also you have to provide og:image for playing video. *@
    <meta property="og:video" content="@Html.Raw(Sitecore.Context.Item["OG Video"])"/> 
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG App ID"))
{
    @* You can find out views and clicks of your shared link by combining the shared link with one of your apps using fb:app_id. In the app insights you can see the metrics of the shared link. *@
    <meta property="og:app_id " content="@Html.Raw(Sitecore.Context.Item["OG App ID"])"/> 
}
@if (ViewHelper.ShouldDisplayField(Sitecore.Context.Item, "OG Site Name"))
{
    @* Used to specify the name of your website. Displayed in the object specific section of preview. *@
    <meta property="og:site_name" content="@Html.Raw(Sitecore.Context.Item["OG Site Name"])"/>
}