﻿.twoblock-rendering.rendering {
    position: relative;

    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.text-center {
        text-align: center;
    }

    .col {
        flex-basis: 0%;
    }

    $mobile-break-point: 768px;


    &.content-left .row {
        flex-direction: row-reverse;
        justify-content: flex-end;


        @media screen and (max-width: #{$mobile-break-point}) {
            flex-direction: column-reverse;
        }
    }

    &.content-right .row {
        flex-direction: row;
        justify-content: flex-start;


        @media screen and (max-width: #{$mobile-break-point}) {
            flex-direction: column;
        }
    }

    &.content-center .row {
        .content-block-one, .content-block-two {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &.content-width-small, &.content-width-medium, &.content-width-large {
        @media screen and (max-width: #{$mobile-break-point}) {
            .container-constraint {
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
            }
        }
    }

    .container-constraint {
        padding-bottom: 30px;
        padding-top: 30px;
        width: 80%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    &.content-width-small {
        .content-block-one {
            flex: 0 0 60%;
            max-width: 60%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }

        .content-block-two {
            flex: 0 0 40%;
            max-width: 40%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }
    }

    &.content-width-medium {
        .content-block-one {
            flex: 0 0 50%;
            max-width: 50%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }

        .content-block-two {
            flex: 0 0 50%;
            max-width: 50%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }
    }

    &.content-width-large {
        .content-block-one {
            flex: 0 0 20%;
            max-width: 20%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }

        .content-block-two {
            flex: 0 0 80%;
            max-width: 80%;

            @media screen and (max-width: #{$mobile-break-point}) {
                flex: 0 0 100%;
                -ms-flex: auto;
                max-width: 100%;
            }
        }
    }

    .content-block-one {
        .heading, .body, .featured-image {
            margin: 0 0 20px 0;
        }

        .heading {
            font-size: $fs-large;
        }

        .featured-image {
            overflow: hidden;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    &.image-top {
        .content-block-one {
            display: flex;
            flex-direction: column;

            .heading {
                order: 2;
            }

            .body {
                order: 3;
                margin: 0;
            }

            .featured-image {
                order: 1;
            }
        }
    }

    &.image-middle {
        .content-block-one {
            display: flex;
            flex-direction: column;

            .heading {
                order: 1;
            }

            .body {
                order: 3;
                margin: 0;
            }

            .featured-image {
                order: 2;
            }
        }
    }

    &.image-bottom {
        .content-block-one {
            display: flex;
            flex-direction: column;

            .heading {
                order: 1;
            }

            .body {
                order: 2;
            }

            .featured-image {
                order: 3;
                margin: 0;
            }
        }
    }

    .content-wrap {
        padding: $medium-padding;

        .heading {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .subheading {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .body {
            margin-top: 25px;
        }
    }

    .background-image {
        background-position: center center;
        background-size: cover;
    }

    .call-to-actions {
        margin-top: 15px;
    }

    .button {
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .button a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;

        &:hover, &:focus {
        }
    }

    .button.treatment-a a {
        &:hover, &:focus {
        }
    }

    .button.treatment-b a {
        &:hover, &:focus {
        }
    }

    .call-to-actions {
        padding-bottom: 10px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .img-edit-container {
        z-index: 999;
        width: 75px;
        max-width: 75px;
        height: 75px;
        max-height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
        }
    }
}
