body, html { padding: 0; margin: 0; width: 100%; height: 100%; }
html { min-height: 100%; }
body { height: 100%; }

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.main-content {
    flex-grow: 1;
    height: 100%; /* IE11 Page height fix */
}

header, .main-content, footer {
    flex-shrink: 0;
}
 